body {
  margin: 0px;
  background-color: black;
  font-family: 'Open Sans', sans-serif !important;
  color: blue; }
  body a {
    color: #a20202;
    text-decoration: none; }
    body a:hover {
      color: #8c057e; }
  body .content {
    background: url("image-icons/arnab.png") no-repeat top right;
    height: 1398px;
    width: 1600px;
    margin: 0 0 0 auto;
    padding-left: 0; }
    body .content h1 {
      font-weight: normal;
      padding: 25px 25px 0;
      margin: 0px;
      font-size: 130px; 
      color: blue;}
    body .content h2 {
      font-weight: normal;
      padding: 0px 460px 50px;
      margin: 0px;
      font-size: 30px; 
      color: #a20202;}
    body .content p {
      color: blue;
      background-color: #e2f1cd;
      width:750px;
      font-size: 15px;
      margin: 5px 0px 10px 35px;
      padding: 0px 0px 2px 5px; }

ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
.background-gray { 
  background: #434242; 
  width: 1600px;}
.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; }
.jumbotron .container .lead { font-size: 28px; }
.jumbotron .container .lead { font-size: 28px; }
.container { max-width: 1280px; padding: 2px 180px; }

#contact { padding-bottom: 20px; }
body .container h2 { 
  color: #FFFFFF; 
  font-family: 'Open Sans', sans-serif !important;
  margin-bottom: 20px;
  font-size: 54px;
  text-align: center; 
  font-weight: 300; 
  margin-top: 20px;
  line-height: 1.1; }
#contact .row * { 
  color: #FFFFFF; 
  position: center;
  text-align: center;
  }

#contact span { font-size: 20px; }  
#contact a { display: block; line-height: 32px; margin-bottom: 20px; opacity: 0.6; filter:alpha(opacity=60);  }
#contact a .icon { float: left; margin-right: 20px; }
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; }
#contact p {
  margin: 0 0 10px;
  color: #727878;
}
p.lead { 
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
  font-size: 21px;
  color: #727878;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }

@media (max-width: 1200px) { 
#interests .interest-content { padding: 20px 0px; }
}

@media (max-width: 767px) { 
  .jumbotron:before {
    bottom: 100px;
    left: 20px;
    right: 20px;
    top: 20px;    
  }
  .jumbotron .container { top: 20%; padding-top: 0px; }
  .jumbotron .scroll-down { width: 100%; right: 0px; }
  
  .navbar  { left: 0px; width: 100%; }
  .navbar .nav > li { height: 60px; }
  .navbar .nav > li a { height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; }
  
  .fixed .navbar { top: 0px; }
  
  .container { padding: 60px 20px; min-width: 280px; }
  .hidden-phone { display: none; }
  
  #profile .row * { text-align: center; }
  
  #experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
  #experiences .experience .experience-details .seperator { display: none; }
  
  #interests .left { float: none; }
  #interests .right { float: none; }
  
  #interests > * { text-align: center; }
  #interests img { width: 50%; height: auto; float: none !important; } 
  #interests .interest-content { padding: 20px 0px; }
  
  #contact { padding-bottom: 60px; }
  #contact a .icon { float: left; margin-right: 10px; }
}    

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
  
  .jumbotron .lead { display: none; }
}
